<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server = 127.0.0.1;Connect Timeout=10000;database = textalt_downloader_iu;user id = textaltiu;password = btdbr14;port = 3307;" />
    <add key="SeasonId" value="26"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RackspaceUser" value=""/>
    <add key="RackspaceApiKey" value=""/>
    <add key="InsertLogFile" value="C:\\Users\\Bryce Lobdell\\Software\\insert_log.sql"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>


